body{
  margin: 0;
}

main {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;
  background-color: #f3d2c1;
}

.Navbar {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.Navbar-title {
  font-weight: bold;
  color: #172c66;
  margin-top: 0;
  margin-left: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.Navbar-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0;
  display: flex;
  overflow: hidden;
}

.Navbar li {
  display: inline;
  padding: 10px;
  display: flex;
  align-items: center;
  display: block;
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.Navbar a {
  color: #001858;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: center;
}

.Navbar a:hover{
  background-color: #ff8ba7;
  border-radius: 20px;
  color:#fffffe;
}