body{
  margin: 0;
}

main{
  padding: 20px;
  background-color: #f0f0f0;
  margin-left: 20px;
  margin-right: 20px;
}

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Navbar-title {
  font-weight: bold;
  font-size: 1.2rem;
  color: #33272a;
  margin-left: 20px;
}

.Navbar ul{
  list-style-type: none;
  background-color: #faeee7;
  padding: 0px;
  margin: 0;
  display: flex;
  overflow: hidden;
}

.Navbar li {
  display: inline;
  margin-right: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
  display: block;
  text-align: center;
}

.Navbar a {
  color: #33272a;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.Navbar a:hover{
  background-color: #ff8ba7;
}